@import "modal.css";

@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url(./fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
  font-family: "PlayfairDisplay-Black";
  src: url(./fonts/PlayfairDisplay-Black.ttf);
}

div.post {
  align-items: center;
  padding: 1px;
  margin: 1.5rem;
  width: 75%;
  height: 100%;
  border: solid 1px rgba(185, 185, 185, 0.034);

  border-radius: 0.5em;
  background-color: #a4c0da70;
}

div.post:hover {
  border-radius: 0.5em;
  box-shadow: inset 1.5px 1px 1px 1px #499be4;
}

.search {
  border: none;
  outline: none;
  color: #00000094;
  background: #f0f0f0;
  font-size: 0.9em;
  padding-left: 10px;
  border-radius: 0.5em;
  letter-spacing: 2px;
}

.search:focus {
  border-radius: 0.5em;
  box-shadow: inset 1.5px 1px 1px 1px #499be4;
}

form {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(280deg, rgba(5, 237, 254, 1) 0%, #4eacfe 100%);
  border-radius: 0.5em;
  margin: 1rem;
  padding: 8px;
}

input {
  width: 90%;
  height: 30px;
}

textarea {
  width: 90%;
  height: 130px;
  resize: none;
}
.search {
  border: none;
  outline: none;
  color: #00000094;
  background: #f0f0f0;
  font-size: 0.9em;
  padding-left: 10px;
  border-radius: 0.5em;
  letter-spacing: 2px;
}

.search:focus {
  border-radius: 0.5em;
  box-shadow: inset 1.5px 1px 1px 1px rgb(73, 155, 228);
}

form > * {
  margin: 1rem;
}

a {
  font-family: "PlayfairDisplay-Black";
  text-decoration: none;
  color: #0018b3;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a:hover {
  color: #b38900;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  letter-spacing: 1px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

/* Botão do lado do Post para editar */

span {
  color: #0018b3;
}

.bg-error {
  background-color: red;
}

.bg-success {
  background-color: green;
}

h3 {
  display: flex;
  justify-content: space-between;
}
