@import "modal.css";
@import "header.css";
@import "postform.css";
@import "home.css";
@import "media.css";

@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url(./fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
  font-family: "PlayfairDisplay-Black";
  src: url(./fonts/PlayfairDisplay-Black.ttf);
}

html {
    background: url("../imagens/5d3d9e6cd628ad6a72a9779d736c9b29-removebg-preview.png");
    background-repeat: no-repeat;
    background-position-x: 0.99%;
    background-position-y: 99.99%;
    background-attachment: fixed;
}

body {
 
    overflow-x: hidden!important;
    
  --sb-track-color: #000000;
  --sb-thumb-color: #7d7d7d;
  --sb-size: 4px;

  scrollbar-color: var(--sb-thumb-color) 
                   var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size) 
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 4px;
  border: 1px solid #000000;
  }