@import "modal.css";
@import "header.css";
@import "postform.css";
@import "home.css";
@import "media.css";

@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url(./fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
  font-family: "PlayfairDisplay-Black";
  src: url(./fonts/PlayfairDisplay-Black.ttf);
}

