a {
  font-family: "PlayfairDisplay-Black";
  text-decoration: none;
  color: #0018b3;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;

}

a:hover {
  color: #b38900;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  letter-spacing: 1px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

/* Botão do lado do Post para editar */

span {
  color: #0018b3;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

span:hover {
  color: #b38900;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
