@media only screen and (max-device-width: 500px) {
    
    button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .modal-content > h3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icons {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 5vw;
        margin-right: 15px;
        margin-top: 15px;
      }



    }
    