input,
textarea {
  width: 90%;
  max-width: 1100px;
  height: 35px;
  resize: none;

  word-wrap: break-word;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "PlayfairDisplay-Regular";
  color: black;
}

input {
margin-top: 10px; ;
  font-weight: 600;
}

textarea {
  height: 400px;
}

textarea,
input::placeholder {
  font-family: "PlayfairDisplay-Regular";
  font-weight: 300;
  letter-spacing: 0.9px;
}

.text {
  border: none;
  outline: none;
  background: #ececec;
  font-size: 0.9em;
  padding-left: 10px;
  border-radius: 0.3em;
}
.text:focus {
  border-radius: 0.3em;
  box-shadow: inset 1.5px 1px 1px 1px hsla(0, 0%, 0%, 0.5);
}

form.PostForm {
  height: 100%;
  width: 95%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #2b2b2b;
  border-radius: 0.3em;
  margin: 1rem;
  padding: 8px;
}

form > * {
  margin: 1rem;
}

